body {
    font-family: Arial;
    padding: 30px;
}

#jsonInput {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.task {
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #ccc;
}

.high {
    background-color: #ffdddd;
}

.medium {
    background-color: #fff3cd;
}

.low {
    background-color: #d4edda;
}
